##Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [6]:
s = "Suraaj"
l = [1,2,3,4,5]
f = 33.9
t = (1,2,3,"Suraaj",[1,2,3])

##Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

In [15]:
##1) var1=''
'''this is string'''
##2) var2 = '[DS,ML,Python]'
'''this is string'''
##3) var3 = ['DS','ML','Python']
'''this is list'''
##4) var4 = 1.
'''this is int'''

'this is int'

In [16]:
'''##Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **'''

'##Q3. Explain the use of the following operators using an example:\n(i) /\n(ii) %\n(iii) //\n(iv) **'

In [17]:
a = 3
b = 8
c = a/b
'''this is division'''

In [18]:
c

0.375

In [19]:
d = a%b
'''this is modulus'''

In [20]:
d

3

In [21]:
e = a//b
'''this is floor division'''

In [22]:
e

0

In [25]:
f = a**b
'''this is Exponantion'''

'this is Exponantion'

In [26]:
f

6561

In [27]:
'''##Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.'''

'##Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the\nelement and its data type.'

In [28]:
l = [1,2,3,4,5,"Suraaj",33.9]
for i in l:
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
5
<class 'int'>
Suraaj
<class 'str'>
33.9
<class 'float'>

In [29]:
'''##Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.'''

'##Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many\ntimes it can be divisible.'

In [48]:
A = 4
B = 2
while A/b:
    print(A)

SyntaxError: invalid syntax (3606394034.py, line 3)

In [ ]:
'''Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.
'''

In [5]:
f = 25
if f%3==0:
    print(f,"Divisible by 3")
else:
    print(f,"not Divisibal by 3")

25 not Divisibal by 3

In [6]:
'''Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.
'''

'Q7. What do you understand about mutable and immutable data types? Give examples for both showing\nthis property.\n'

In [7]:
'''Mutable
A Mutable data types can be changed after it is created

examples:- list,set,dic

Immutable
Immutable object can not be changed after it is created

examples:- tuples,int,float
'''

'Mutable\nA Mutable data types can be changed after it is created\n\nexamples:- list,set,dic\n\nImmutable\nImmutable object can not be changed after it is created\n\nexamples:- tuples,int,float\n'